* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
.container-fluid {
    padding-left: 0px!important;
    padding-right: 0!important;
    margin-right: -15px!important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    position: relative;
}
.buttonContainer button:first-child {
    background-image: linear-gradient(to right, #36AE4A , #C6EB15);
    margin-right: 0.8rem;
    width: 98px;
    height: 41px;
}
.buttonContainer button:last-child {
    border: 1px solid #39AF49;
    width: 96px;
    height: 40px;
}
.buttonContainer button:last-child:hover {
    color: #fff!important;
    background-image: linear-gradient(to right, #36AE4A , #C6EB15);
    border-color: transparent !important;
}
.btn {
    border-radius: 50px;
}
.logoImg {
    position: relative;
    left: 35px;
}
.curveShape {
    position: absolute;
    top: -21.271461486816406px;
    left: -215.932991px;
    width: 500px;
    height: 304px;
    z-index: -1;
}
.ballShape {
    position: absolute;
    top: 15px;
    left: -4%;
}
.mainContainer {
    margin-top: 200px;
    position: relative;
}
.mainContainer section h2 {
    color: #43B345;
}
.mainContainer section .cfd {
    color: #030303;
}
.mainContainer button {
    width: 209px;
    background-image: linear-gradient(to right, #36AE4A , #C6EB15);
    margin-right: 0.8rem;
    height: 40px;
}
.mainContainer .demoBtn {
    color: #41B346;
    font-weight: bold;
    text-decoration: none;
}
.linesShape {
    position: relative;
    top: 70px;
}
.ellipseRight {
    position: absolute;
    margin-top: -300px;
    right: -450px;
    width: 625px;
    height: 625px;
}
.account-access span {
    color: #38AF49;
}
.horizontalLine {
    margin: 0 auto;
    display: block;
    width: 127px;
    height: 2px!important;
    background: transparent linear-gradient(270deg, #C6EA19 0%, #36AE4A 100%) 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
}
.accountBg {
    background-image: linear-gradient(#FFFFFF00 , #F9FBFB78 , #F2F6F7);
}
.ellipseLeft {
    position: absolute;
    margin-top: -170px;
    left: -150px;
    width: 400px;
    height: 400px;
}
.mt-120 {
    margin-top: 120px;
}
.linesCurve {
    position: absolute;
    z-index: -1;
}
.trading,.analysis {
    position: relative;
}
.ellipsesmall {
    margin-top: 110px;
    margin-left: 50px;
}
.text-card,
.text-cardy,
.text-cards
 {
    position: relative;
    bottom: 115px;
    left: 37%;
}
.text-card h4,
.text-cardy h4,
.text-cards h4{
    font-size: 10px !important;
}
.mtl-160 {
    margin-top: -160px;
    margin-left: -100px;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    font-size: 14px;
    background: #F2F6F7;
  }
  #footer .footer-newsletter {
    padding: 50px 0;
    background: #f3f5fa;
    text-align: center;
    font-size: 15px;
    color: #444444;
  }
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #F2F6F7;
  }
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #37517e;
  }
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
  }
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #37517e;
    position: relative;
    padding-bottom: 12px;
  }
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #47b2e4;
    font-size: 18px;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #47b2e4;
  }
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #47b2e4;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .footer-top .social-links a:hover {
    background: #209dd8;
    color: #fff;
    text-decoration: none;
  }
  #footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
  }
  #footer .copyright {
    float: left;
  }
  #footer .credits {
    float: right;
    font-size: 13px;
  }
  #footer .credits a {
    transition: 0.3s;
  }
  @media (max-width: 768px) {
    #footer .footer-bottom {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    #footer .copyright, #footer .credits {
      text-align: center;
      float: none;
    }
    #footer .credits {
      padding-top: 4px;
    }
  }
@media(max-width: 767px) {
    .resp-sm {
        margin: 1.5rem 0!important;
    }
    .mtl-160 {
        margin-top: unset !important;
        margin-left: unset !important;
    }
}
@media(max-width: 991px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
@media(max-width: 991px) and (min-width: 400px) {
    .ellipseRight {
        margin-top: -250px !important;
        right: -380px !important;
        width: 480px !important;
        height: 480px !important;
    }
    .account-access  {
        font-size: 18px !important;
    }
}
@media(max-width: 399px) and (min-width: 300px) {
    .ellipseRight {
        margin-top: -250px !important;
        right: -350px !important;
        width: 430px !important;
        height: 430px !important;
    }
    .account-access {
        font-size: 18px !important;
    }
}
